<div class="row mt-3">
  <div class="col-12 mt-3">
    <div class="card">
      <div class="card-horizontal">
        <div class="img-square-wrapper">
          <img class="" [src]="currentProduct.imageUrl" alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title">{{currentProduct.productName | uppercase }}</h4>
          <p class="card-text">{{currentProduct.description}}</p>
          <p class="card-text">Price : {{currentProduct.price | currency :'INR'}}</p>
          <p class="card-text">Rating : {{currentProduct.rating}} out of 5</p>
          <p class="card-text">Release daye : {{currentProduct.releaseDate | date}}</p>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Created on - {{currentProduct.createdDate | date}}, Last Updated on -
          {{currentProduct.lastUpdatedDate | date | nullOrEmpty : 'N/A'}}</small>
          <button type="button" class="btn btn-primary pull-right" (click)="goBack()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Back</button>
      </div>
    </div>
  </div>
</div>
