<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/welcome']">Wipro</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/welcome']" [routerLinkActive]="['active']">Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/products']" [routerLinkActive]="['active']">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/employees']" [routerLinkActive]="['active']">Employees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/employees/details']" [routerLinkActive]="['active']">Emp Details</a>
    </li>
  </ul>
  <ul class="navbar-nav"  *ngIf="isLoggedInUser">
    <li class="nav-item">
      <a class="nav-link" href="#"> Hello Maha </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/login']" [routerLinkActive]="['active']"> LogOut </a>
    </li>
  </ul>
  <ul class="navbar-nav" *ngIf="!isLoggedInUser">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']"> Login </a>
    </li>
  </ul>
</nav>
