<app-accordian [title]="product.productName">
  <div class="accordianBody">
    <p class="card-text">Des : {{product.description | nullOrEmpty : 'N/A'}}</p>
    <p class="card-text">Released On : {{product.releaseDate | date : 'fullDate'}}</p>
    <p class="card-text" [ngStyle]="getPriceStyles(product)">Price :
      {{product.price | currency :'INR' : 'Rs ' : '2.2-2' }}</p>
  </div>
  <hr />
  <div class="accordianFooter">

    <a href="#" class="btn btn-primary mr-1 btn-sm" #detailsButton>Details</a>
    <button href="#" class="btn btn-success mr-1 btn-sm" [disabled]="product.isActive">Buy</button>
    <button href="#" class="btn btn-danger mr-1 btn-sm" (click)="deleteProduct(product.productId)">Delete</button>
    <button href="#" class="btn btn-info mr-1 btn-sm" (click)="changeStatus(product.productId,'deactivate')"
      *ngIf="product.isActive">Deactivate</button>
    <button href="#" class="btn btn-info mr-1 btn-sm" (click)="changeStatus(product.productId,'reactivate')"
      *ngIf="!product.isActive">Activate</button>
  </div>
</app-accordian>
