/* You can add global styles to this file, and also import other style files */
.my-green {
  color: green;
}

.bold {
  font-weight: bolder;
  font-size: xx-large;
}
.cursor-pointer {
  cursor: pointer;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
/*.form-error-element {
  border: 2px solid red;
}
.ng-touched:not(form).ng-invalid{
  border: 2px solid red;
}*/
.ng-invalid:not(form):not([formgroupname]):not([formarrayname]):not(:first-child).ng-touched {
  border: 2px solid red;
}

.error-class {
  border: 2px solid red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
